.div-btn-orders-view {
    display: -webkit-box;
    float: right;
}

.btn-orders-view {
    margin: 20px;
    margin-top: 0px;
}

#pr-update {
    max-height: 250px !important;
    padding: 4px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.close {
    position: absolute;
    opacity: 20;
    right: 0px;
    width: 30px;
    height: 30px;
    background-color: #efefef;
    z-index: 5;
    -webkit-transition: opacity 150ms;
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAQAAAC1+jfqAAAAiElEQVR42r2RsQrDMAxEBRdl8SDcX8lQPGg1GBI6lvz/h7QyRRXV0qUULwfvwZ1tenw5PxToRPWMC52eA9+WDnlh3HFQ/xBQl86NFYJqeGflkiogrOvVlIFhqURFVho3x1moGAa3deMs+LS30CAhBN5nNxeT5hbJ1zwmji2k+aF6NENIPf/hs54f0sZFUVAMigAAAABJRU5ErkJggg==) no-repeat;
    text-align: right;
    border: 0;
    cursor: pointer;
}

.close:hover, .close:focus {
    background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAQAAAC1+jfqAAAAqklEQVR4XqWRMQ6DMAxF/1Fyilyj2SmIBUG5QcTCyJA5Z8jGhlBPgRi4TmoDraVmKFJlWYrlp/g5QfwRlwEVNWVa4WzfH9jK6kCkEkBjwxOhLghheMWMELUAqqwQ4OCbnE4LJnhr5IYdqQt4DJQjhe9u4vBBmnxHHNzRFkDGjHDo0VuTAqy2vAG4NkvXXDHxbGsIGlj3e835VFNtdugma/Jk0eXq0lP//5svi4PtO01oFfYAAAAASUVORK5CYII=");
}

.content {
    position: relative;
    float: left;
}

.content:after {
    content: '\A';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.6);
    opacity: 0;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
}

.content:hover:after {
    opacity: 1;
}

.adm-row {
    display: inline-block;
    width: 100%;
}

.adm-table {
    margin-bottom: 50px
}

.max-w100 {
    max-width: 100px;
}

.upd {
    margin-right: 3px;
}