.div-for-img {
    height: 203px;
}

.goods-of-category {
    max-height: 203px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

.product-img {
    height: 387px;
}

.product-text {
    position: absolute;
    bottom: 30px;
}

.categ {
    height: 200px;
    width: 100%;
}

.slider-prod-img {
    max-height: 203px;
    margin: auto;
}

.slider-text {
    margin-top: 190px;
    text-align: center;
}

.img-checkout {
    width: 72px;
    height: 72px;
}

.errors-css {
    text-align: center;
    padding: 40px 15px;
}

.send-message {
    display: none;
}

.old-o-by-id-th {
    display: -webkit-box;
}

.old-o-by-id-div {
    max-width: 100px;
}

.old-o-by-id-st {
    float: right;
}

